@page "/logs"

@using DataTransfer
@using Maple.Database
@using Maple.Services

@inject IJSRuntime JSRuntime
@inject ILogEntryRepository LogEntryRepository

@implements IDisposable

<PageTitle>Logs</PageTitle>

<div>
    <div class="input-group mb-3">
        <select class="form-select" @onchange="OnProjectChanged">
            @foreach (var project in _projects)
            {
                <option value="@project.Guid">@project.Name</option>
            }
        </select>
        <input class="form-control filter" type="text" placeholder="Filter..." @oninput="OnFilterChanged" />
    </div>
    <div class="content">
        <div class="properties">
            <table class="table ">
                <thead>
                    <tr>
                        <th></th>
                        <th>Property</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="sortable-table">
                    @foreach (var logProperties in _logProperties)
                    {
                        <tr>
                            <td>
                                <span class="bi bi-grip-vertical" aria-hidden="true"></span>
                            </td>
                            <td>
                                <span>@logProperties.Name</span>
                            </td>
                            <td>
                                <input type="checkbox" @bind="logProperties.IsActive" @bind:after="StateHasChanged" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="log-entires">
            <table class="table">
                <thead>
                    <tr>
                        @foreach (var propertyName in ActiveProperties)
                        {
                            <th>@propertyName</th>
                        }
                    </tr>
                </thead>
                <tbody id="sortable-table">
                    @foreach (var logEntry in _logEntries)
                    {
                        <tr>
                            @foreach (var propertyName in ActiveProperties)
                            {
                                <td>@GetValue(logEntry, propertyName)</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    internal class LogProperty
    {
        public required string Name { get; set; }
        public bool IsActive { get; set; }
    }

    private DotNetObjectReference<Logs>? _selfReference;

    private Guid _selectedProject = Guid.Empty;
    private string? _filter;

    private List<Project> _projects = [];
    private List<LogEntryDto> _logEntries = [];
    private List<LogProperty> _logProperties =
    [
        new LogProperty() { Name="Timestamp", IsActive = true},
        new LogProperty() { Name="Level", IsActive = true},
        new LogProperty() { Name="Message", IsActive = true},
    ];

    private IEnumerable<string> ActiveProperties => _logProperties.Where(p => p.IsActive).Select(p => p.Name);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _selfReference = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync("initializeSortable", "sortable-table", ".bi-grip-vertical", "sortable-ghost", _selfReference);

            _projects = LogEntryRepository.GetProjectsFromLogEntries()
                .Prepend(new Project { Guid = Guid.Empty, Name = "All" })
                .ToList();

            Refresh();
        }
    }

    public void Dispose() => _selfReference?.Dispose();

    [JSInvokable]
    public void OnMoveItem(int oldIndex, int newIndex)
    {
        var item = _logProperties[oldIndex];
        _logProperties.RemoveAt(oldIndex);
        _logProperties.Insert(newIndex, item);

        StateHasChanged();
    }

    private static string GetValue(LogEntryDto logEntry, string column) => column switch
    {
        "Timestamp" => logEntry.Timestamp.ToString("d.MM.yyyy hh:mm:ss"),
        "Level" => logEntry.Level,
        "Message" => logEntry.Message,
        _ => logEntry.Properties.TryGetValue(column, out var value) ? value.ToString() ?? "Could not retrieve the value" : ""
    };

    private void SyncProperties()
    {
        var discovered = new HashSet<string>
        {
            "Timestamp", "Level", "Message"
        };

        foreach (var logEntry in _logEntries)
        {
            foreach (var key in logEntry.Properties.Keys)
            {
                discovered.Add(key);
            }
        }

        _logProperties.RemoveAll(p => !discovered.Contains(p.Name));

        foreach (var property in discovered)
        {
            if (!_logProperties.Any(p => p.Name == property))
            {
                _logProperties.Add(new LogProperty() { Name = property, IsActive = false });
            }
        }
    }

    private void Refresh()
    {
        _logEntries = LogEntryRepository.Get(_selectedProject, null, _filter).ToList();
        SyncProperties();
        StateHasChanged();
    }

    private async Task OnProjectChanged(ChangeEventArgs e)
    {
        _selectedProject = Guid.TryParse(e.Value?.ToString(), out var guid) ? guid : Guid.Empty;
        Refresh();
    }

    private async Task OnFilterChanged(ChangeEventArgs e)
    {
        _filter = e.Value?.ToString();
        Refresh();
    }
}